<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823307041176-ao9frv5a25ebiimfstp79lnc214urhgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823307041176-ao9frv5a25ebiimfstp79lnc214urhgj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>823307041176-qfcmju8p2mbqre4rl5kufhr7dhs9hs33.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDyypc4MyqBBneptEWpF17u3s7cu8X4wIY</string>
	<key>GCM_SENDER_ID</key>
	<string>823307041176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cwtEcommerceApp</string>
	<key>PROJECT_ID</key>
	<string>codingwitht-c6d0f</string>
	<key>STORAGE_BUCKET</key>
	<string>codingwitht-c6d0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823307041176:ios:cef880e79df81b420653ed</string>
</dict>
</plist>